<ons-page ng-controller="AboutController">
    
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Damiano Macedo</div>
    </ons-toolbar>

    <section style="padding: 10px;">
        <div ng-repeat="member in about">
        <ons-row style="padding: 0 0 10px 0;">
            <ons-col size="23">
                <section style="padding: 0px 10px 10px 10px;">
				<div style="background-color:{{member.corfundo}}; padding: 10px 10px 10px 10px; border-radius: 5px;"><center>
				<font style="font-size:30px"  ng-click="showDetail($index)">1{{member.id}}</font>
				<span ng-show='member.corfundo=="red"'><br><font style="font-size:11px">chamando</font></span> </center>
                </div>
                </section>
            </ons-col>
            <ons-col>
                <section>
				
                <div class="social" ng-show="member.fechaenv==1"><font color=red><ons-icon icon="fa-money" fixed-width="true"></ons-icon> FECHAR A CONTA ENVIADO </FONT></div>
				<div class="social" ng-show="member.fechaand==1"><font color=green><ons-icon icon="fa-money" fixed-width="true"></ons-icon> FECHAR A CONTA EM ANDAMENTO </FONT></div>
                <div class="social"><span ng-show="member.pedenv!=0"><span class="notification">{{member.pedenv}}</span> PEDIDOS ENVIADOS &nbsp; </span><span ng-show="member.pedand!=0"><span class="notification notificationverde">{{member.pedand}}</span> PEDIDOS EM ANDAMENTO </span></div>

				 <div class="social"><ons-icon icon="fa-sign-in" fixed-width="true"></ons-icon>TOKEN: <b>{{member.token}}</b></div>
              
                </section>
            </ons-col>
        </ons-row>
        </div>
    </section>

</ons-page>