<ons-page ng-controller="DetalheController">
  <style>

.margem12 {
	margin: 12px;
	}
	
</style>  
    <ons-toolbar>
    <div class="left"><ons-toolbar-button onclick="MeuNavigator.pushPage('about.html')">Voltar</ons-toolbar-button></div>
    <div class="center">Mesa {{item.mesa}}</div>
    </ons-toolbar>

            <ons-list class="list-top">
                    <ons-list-header style="min-height:44px;" ng-click="MarcarTodosEnv()">Pedidos Enviados <span style="float: right; padding-right:12px;">
						<label class="checkbox">
							<input type="checkbox" ng-model="chktodosenviados.Selected" ng-click="MarcarTodosEnviados()" >
							<div class="checkbox__checkmark"></div>
						</label></spam></ons-list-header>
                    <ons-list-item ng-repeat="pedido in pedidosativos">
                        <ons-row>
                            <ons-col width="12%"> 
                            <span class="notification margem12">+</span>
                            </ons-col>
                            <ons-col width="80%" ng-click="marca(1,pedido.codigopedido)">
                             {{pedido.quantidade}} {{pedido.itemcardapio}}
                            </ons-col>
							<ons-col class="left">
                            
							<label class="checkbox">
							<input type="checkbox" ng-model="pedido.Selected" >
							<div class="checkbox__checkmark"></div>
							</label>

                            </ons-col>
                        </ons-row> 
                    </ons-list-item>
					<ons-list-item>
					<ons-col class="right">
						<button ng-click="ColocarEmAndamento()">colocar em andamento</button>
					</ons-col>
					</ons-list-item>
                </ons-list>

                <ons-list class="list-top">
                    <ons-list-header style="min-height:44px;" ng-click="MarcarTodosEA()">Pedidos Em Andamento<span style="float: right; padding-right:12px;">
						<label class="checkbox">
							<input type="checkbox" ng-model="chktodosemandamento.Selected" ng-click="MarcarTodosEmAndamento()" >
							<div class="checkbox__checkmark"></div>
						</label></spam></ons-list-header>
                    <ons-list-item ng-repeat="pedido in pedidosemandamento">
                        <ons-row>
                            <ons-col width="12%"> 
                            <span class="notification notificationverde margem12"> + </span>
                            </ons-col>
                            <ons-col width=80% ng-click="marca(2,pedido.codigopedido)"">
                            {{pedido.quantidade}} {{pedido.itemcardapio}}
                            </ons-col>
							<ons-col class="left">
							<label class="checkbox">
							<input type="checkbox" ng-model="pedido.Selected">
							<div class="checkbox__checkmark"></div>
							</label>
							</ons-col>
                        </ons-row> 
                    </ons-list-item>
					<ons-list-item>
					<ons-col class="right">
						<button  ng-click="ColocarEntregue()">colocar entregue</button> 
					</ons-col>
					</ons-list-item>
                </ons-list>


</ons-page>