<ons-page ng-controller="DetalheController">
  <style>

.margem12 {
	margin: 12px;
	}
	
</style>  
    <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">{{item.mesa}}</div>
    </ons-toolbar>

            <ons-list class="list-top">
                    <ons-list-header>Pedidos Enviados</ons-list-header>
                    <ons-list-item ng-repeat="pedido in pedidosativos">
                        <ons-row>
                            <ons-col width="12%"> 
                            <span class="notification margem12">+</span>
                            </ons-col>
                            <ons-col width="80%">
                             {{pedido.quantidade}} {{pedido.itemcardapio}}
                            </ons-col>
							<ons-col class="left">
                            
							<label class="checkbox">
							<input type="checkbox" ng-model="checksEnv[pedido.codigopedido]">
							<div class="checkbox__checkmark"></div>
							</label>
							
                            </ons-col>
                        </ons-row> 
                    </ons-list-item>
					<ons-list-item>
					<button ng-click="ColocarEmAndamento()">colocar em andamento</button><button ng-click="Cancelar()">cancelar</button>
					</ons-list-item>
                </ons-list>

                <ons-list class="list-top">
                    <ons-list-header>Pedidos Em Andamento</ons-list-header>
                    <ons-list-item ng-repeat="pedido in pedidosemandamento">
                        <ons-row>
                            <ons-col width="12%"> 
                            <span class="notification notificationverde margem12"> + </span>
                            </ons-col>
                            <ons-col width=80%>
                            {{pedido.quantidade}} {{pedido.itemcardapio}}
                            </ons-col>
							<ons-col class="left">
							<label class="checkbox">
							<input type="checkbox" ng-model="checksAnd[pedido.codigopedido]">
							<div class="checkbox__checkmark"></div>
							</label>
							</ons-col>
                        </ons-row> 
                    </ons-list-item>
					<ons-list-item>
						<button ng-click="ColocarEntregue()">colocar entregue</button>
					</ons-list-item>
                </ons-list>


</ons-page>